openapi: 3.0.0
info:
  title: Evento Events API
  description: API specification for managing events in the Evento social events platform
  version: 1.0.0
  contact:
    name: Evento API Support
    email: support@evento.app

servers:
  - url: https://api.evento.app/api/v1
    description: Production server
  - url: http://localhost:3000/api/v1
    description: Development server

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from authentication endpoint

  schemas:
    Event:
      type: object
      properties:
        id:
          type: string
          description: Unique event identifier
          example: "evt_abc123"
        title:
          type: string
          description: Event title
          maxLength: 100
          example: "Summer Music Festival"
        description:
          type: string
          description: Event description (supports HTML)
          maxLength: 5000
          example: "<p>Join us for an amazing summer festival</p>"
        cover:
          type: string
          nullable: true
          description: Cover image URL
          example: "https://storage.evento.app/covers/event123.jpg"
        location:
          type: string
          nullable: true
          maxLength: 200
          description: Event location
          example: "Central Park, New York"
        timezone:
          type: string
          description: Event timezone
          example: "America/New_York"
        visibility:
          type: string
          enum: [public, private]
          description: Event visibility setting
          example: "public"
        status:
          type: string
          enum: [draft, published, archived]
          description: Event status
          example: "published"
        cost:
          type: number
          nullable: true
          minimum: 0
          description: Event cost in USD
          example: 25.00
        spotify_url:
          type: string
          nullable: true
          format: uri
          description: Spotify playlist URL
          example: "https://open.spotify.com/playlist/123"
        wavlake_url:
          type: string
          nullable: true
          format: uri
          description: Wavlake URL
        contrib_venmo:
          type: string
          nullable: true
          description: Venmo handle for contributions
          example: "@johndoe"
        contrib_cashapp:
          type: string
          nullable: true
          description: CashApp handle for contributions
          example: "$johndoe"
        contrib_paypal:
          type: string
          nullable: true
          description: PayPal handle for contributions
          example: "johndoe@example.com"
        contrib_btclightning:
          type: string
          nullable: true
          description: Bitcoin Lightning address
          example: "johndoe@getalby.com"
        start_date_day:
          type: integer
          minimum: 1
          maximum: 31
          example: 15
        start_date_month:
          type: integer
          minimum: 1
          maximum: 12
          example: 7
        start_date_year:
          type: integer
          minimum: 2023
          example: 2025
        start_date_hours:
          type: integer
          minimum: 0
          maximum: 23
          example: 18
        start_date_minutes:
          type: integer
          minimum: 0
          maximum: 59
          example: 30
        end_date_day:
          type: integer
          nullable: true
          minimum: 1
          maximum: 31
        end_date_month:
          type: integer
          nullable: true
          minimum: 1
          maximum: 12
        end_date_year:
          type: integer
          nullable: true
          minimum: 2023
        end_date_hours:
          type: integer
          nullable: true
          minimum: 0
          maximum: 23
        end_date_minutes:
          type: integer
          nullable: true
          minimum: 0
          maximum: 59
        computed_start_date:
          type: string
          format: date-time
          description: Computed ISO start date
          example: "2025-07-15T18:30:00Z"
        computed_end_date:
          type: string
          nullable: true
          format: date-time
          description: Computed ISO end date
          example: "2025-07-15T23:00:00Z"
        created_at:
          type: string
          format: date-time
          example: "2025-01-01T00:00:00Z"
        creator_user_id:
          type: string
          description: ID of the event creator
          example: "usr_xyz789"
        user_details:
          $ref: "#/components/schemas/UserDetails"

    UserDetails:
      type: object
      properties:
        id:
          type: string
          example: "usr_xyz789"
        username:
          type: string
          example: "johndoe"
        image:
          type: string
          nullable: true
          example: "https://storage.evento.app/avatars/user123.jpg"
        verification_status:
          type: string
          nullable: true
          enum: [verified, null]
          example: "verified"

    EventSettings:
      type: object
      properties:
        max_capacity:
          type: integer
          nullable: true
          description: Maximum event capacity
          example: 100
        show_capacity_count:
          type: boolean
          description: Whether to show capacity count
          example: true

    EventCreateRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 5000
        cover:
          type: string
          nullable: true
        location:
          type: string
          maxLength: 200
        timezone:
          type: string
        visibility:
          type: string
          enum: [public, private]
          default: private
        status:
          type: string
          enum: [draft, published]
          default: published
        spotify_url:
          type: string
          format: uri
        wavlake_url:
          type: string
          format: uri
        cost:
          type: number
          minimum: 0
        contrib_venmo:
          type: string
        contrib_cashapp:
          type: string
        contrib_paypal:
          type: string
        contrib_btclightning:
          type: string
        start_date_day:
          type: integer
          minimum: 1
          maximum: 31
        start_date_month:
          type: integer
          minimum: 1
          maximum: 12
        start_date_year:
          type: integer
          minimum: 2023
        start_date_hours:
          type: integer
          minimum: 0
          maximum: 23
        start_date_minutes:
          type: integer
          minimum: 0
          maximum: 59
        end_date_day:
          type: integer
          minimum: 1
          maximum: 31
        end_date_month:
          type: integer
          minimum: 1
          maximum: 12
        end_date_year:
          type: integer
          minimum: 2023
        end_date_hours:
          type: integer
          minimum: 0
          maximum: 23
        end_date_minutes:
          type: integer
          minimum: 0
          maximum: 59
        is_time_set:
          type: boolean
          default: false
        settings:
          $ref: "#/components/schemas/EventSettings"

    RSVP:
      type: object
      properties:
        id:
          type: string
          example: "rsvp_123"
        event_id:
          type: string
          example: "evt_abc123"
        user_id:
          type: string
          example: "usr_xyz789"
        status:
          type: string
          enum: [yes, no, maybe]
          example: "yes"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user_details:
          $ref: "#/components/schemas/UserDetails"

    Comment:
      type: object
      properties:
        id:
          type: string
          example: "cmt_123"
        event_id:
          type: string
          example: "evt_abc123"
        user_id:
          type: string
          example: "usr_xyz789"
        message:
          type: string
          example: "Looking forward to this event!"
        parent_comment_id:
          type: string
          nullable: true
          description: ID of parent comment for replies
        created_at:
          type: string
          format: date-time
        user_details:
          $ref: "#/components/schemas/UserDetails"

    GalleryItem:
      type: object
      properties:
        id:
          type: string
          example: "gal_123"
        event_id:
          type: string
          example: "evt_abc123"
        url:
          type: string
          format: uri
          example: "https://storage.evento.app/gallery/image123.jpg"
        uploader_id:
          type: string
          example: "usr_xyz789"
        created_at:
          type: string
          format: date-time
        user_details:
          $ref: "#/components/schemas/UserDetails"
        events:
          type: object
          properties:
            id:
              type: string
            title:
              type: string

    EventHost:
      type: object
      properties:
        event_id:
          type: string
          example: "evt_abc123"
        user_id:
          type: string
          example: "usr_xyz789"
        created_at:
          type: string
          format: date-time
        user_details:
          $ref: "#/components/schemas/UserDetails"

    Payment:
      type: object
      properties:
        id:
          type: string
          example: "pay_123"
        event_id:
          type: string
          example: "evt_abc123"
        user_id:
          type: string
          example: "usr_xyz789"
        rsvp_id:
          type: string
          nullable: true
          example: "rsvp_123"
        payment_method:
          type: string
          enum: [venmo, cashapp, paypal, btc_lightning]
          example: "venmo"
        amount:
          type: number
          minimum: 0
          example: 25.00
        created_at:
          type: string
          format: date-time

    GenerateDescriptionRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: Event title
        location:
          type: string
          description: Event location
        startDate:
          type: string
          format: date-time
          description: Event start date
        endDate:
          type: string
          format: date-time
          description: Event end date
        tone:
          type: string
          enum: [friendly, professional, creative]
          default: friendly
          description: Writing tone for the description
        length:
          type: string
          enum: [short, medium, long]
          default: medium
          description: Description length
        timezone:
          type: string
          description: Event timezone
        visibility:
          type: string
          enum: [public, private]
        spotifyUrl:
          type: string
          format: uri
        cost:
          type: number
        currentDescription:
          type: string
          description: Current description to improve upon
        userPrompt:
          type: string
          description: Custom user instructions

    EmailBlast:
      type: object
      properties:
        id:
          type: string
          example: "blast_123"
        event_id:
          type: string
          example: "evt_abc123"
        user_id:
          type: string
          example: "usr_xyz789"
        message:
          type: string
          description: Email blast message content
        recipient_filter:
          type: string
          enum: [all, yes_only, yes_and_maybe]
          description: Filter for recipients
        status:
          type: string
          enum: [draft, scheduled, sending, sent, failed]
        scheduled_for:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Operation completed successfully"
        data:
          type: object
          description: Response data

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "An error occurred"
        errors:
          type: array
          items:
            type: string

paths:
  /events/create:
    post:
      tags:
        - Events
      summary: Create a new event
      description: Creates a new event with the specified details
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventCreateRequest"
      responses:
        "200":
          description: Event created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Event"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/details:
    get:
      tags:
        - Events
      summary: Get event details
      description: Retrieves detailed information about a specific event
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: Event ID
      responses:
        "200":
          description: Event details retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Event"
        "404":
          description: Event not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/cancel:
    delete:
      tags:
        - Events
      summary: Cancel an event
      description: Cancels an event and optionally sends cancellation emails to attendees
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: Event ID to cancel
        - in: query
          name: sendEmails
          schema:
            type: boolean
            default: false
          description: Whether to send cancellation emails to attendees
      responses:
        "200":
          description: Event cancelled successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/generate-description:
    post:
      tags:
        - Events
      summary: Generate event description using AI
      description: Uses OpenAI to generate an event description based on provided details
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateDescriptionRequest"
      responses:
        "200":
          description: Description generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    description: Generated event description
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/rsvps:
    get:
      tags:
        - RSVPs
      summary: Get event RSVPs
      description: Retrieves all RSVPs for a specific event
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: Event ID
      responses:
        "200":
          description: RSVPs retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/RSVP"
    post:
      tags:
        - RSVPs
      summary: Create or update RSVP
      description: Creates a new RSVP or updates existing RSVP status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_id
                - status
              properties:
                event_id:
                  type: string
                  description: Event ID to RSVP to
                status:
                  type: string
                  enum: [yes, no, maybe]
                  description: RSVP status
      responses:
        "200":
          description: RSVP created/updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/RSVP"
        "400":
          description: Bad request or capacity reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/rsvps/current-user:
    get:
      tags:
        - RSVPs
      summary: Get current user's RSVP
      description: Retrieves the current user's RSVP status for an event
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: Event ID
      responses:
        "200":
          description: RSVP status retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          hasRsvp:
                            type: boolean
                          rsvpStatus:
                            type: string
                            enum: [yes, no, maybe]

  /events/comments:
    get:
      tags:
        - Comments
      summary: Get event comments
      description: Retrieves all comments for a specific event
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: Event ID
      responses:
        "200":
          description: Comments retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Comment"
    post:
      tags:
        - Comments
      summary: Add a comment
      description: Adds a new comment to an event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_id
                - message
              properties:
                event_id:
                  type: string
                  description: Event ID to comment on
                message:
                  type: string
                  description: Comment message
                parent_comment_id:
                  type: string
                  nullable: true
                  description: Parent comment ID for replies
      responses:
        "200":
          description: Comment added successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Comment"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/comments/{commentId}:
    delete:
      tags:
        - Comments
      summary: Delete a comment
      description: Deletes a specific comment
      parameters:
        - in: path
          name: commentId
          required: true
          schema:
            type: string
          description: Comment ID to delete
      responses:
        "200":
          description: Comment deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/gallery:
    get:
      tags:
        - Gallery
      summary: Get event gallery
      description: Retrieves all gallery items for a specific event
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: Event ID
      responses:
        "200":
          description: Gallery items retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/GalleryItem"
    delete:
      tags:
        - Gallery
      summary: Delete gallery item
      description: Deletes a specific gallery item
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: Gallery item ID to delete
      responses:
        "200":
          description: Gallery item deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/gallery/upload:
    post:
      tags:
        - Gallery
      summary: Upload gallery item
      description: Uploads a new image or video to the event gallery
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - event_id
              properties:
                file:
                  type: string
                  format: binary
                  description: Image or video file to upload
                event_id:
                  type: string
                  description: Event ID to add gallery item to
      responses:
        "200":
          description: Gallery item uploaded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Bad request or file too large
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/hosts:
    get:
      tags:
        - Hosts
      summary: Get event hosts
      description: Retrieves all hosts for a specific event
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: Event ID
      responses:
        "200":
          description: Hosts retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/EventHost"
    post:
      tags:
        - Hosts
      summary: Add event host
      description: Adds a new host to an event (creator only)
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: Event ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hostId
              properties:
                hostId:
                  type: string
                  description: User ID to add as host
      responses:
        "200":
          description: Host added successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Bad request or not event owner
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - Hosts
      summary: Remove event host
      description: Removes a host from an event (creator only)
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: Event ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hostId
              properties:
                hostId:
                  type: string
                  description: User ID to remove as host
      responses:
        "200":
          description: Host removed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Bad request or not event owner
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/payments:
    get:
      tags:
        - Payments
      summary: Get event payments
      description: Retrieves all payments for a specific event
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: Event ID
      responses:
        "200":
          description: Payments retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Payment"
    post:
      tags:
        - Payments
      summary: Record a payment
      description: Records a payment for an event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_id
                - payment_method
                - amount
              properties:
                event_id:
                  type: string
                  description: Event ID
                payment_method:
                  type: string
                  enum: [venmo, cashapp, paypal, btc_lightning]
                  description: Payment method used
                amount:
                  type: number
                  minimum: 0
                  description: Payment amount
                rsvp_id:
                  type: string
                  nullable: true
                  description: Associated RSVP ID
      responses:
        "200":
          description: Payment recorded successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Payment"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/feed:
    get:
      tags:
        - Feed
      summary: Get events feed
      description: Retrieves personalized event feed for the authenticated user
      responses:
        "200":
          description: Feed retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Event"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/favorites/add:
    post:
      tags:
        - Favorites
      summary: Add to favorites
      description: Adds an event to user's favorites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_id
              properties:
                event_id:
                  type: string
                  description: Event ID to favorite
      responses:
        "200":
          description: Added to favorites successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/favorites/remove:
    delete:
      tags:
        - Favorites
      summary: Remove from favorites
      description: Removes an event from user's favorites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_id
              properties:
                event_id:
                  type: string
                  description: Event ID to unfavorite
      responses:
        "200":
          description: Removed from favorites successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/favorites/fetch:
    get:
      tags:
        - Favorites
      summary: Get favorite events
      description: Retrieves user's favorite events
      responses:
        "200":
          description: Favorites retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Event"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/profile:
    get:
      tags:
        - Profile
      summary: Get profile events
      description: Retrieves events for a specific user profile
      parameters:
        - in: query
          name: username
          required: true
          schema:
            type: string
          description: Username to get events for
      responses:
        "200":
          description: Profile events retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Event"

  /events/{username}/public:
    get:
      tags:
        - Public Events
      summary: Get public events by username
      description: Retrieves all public events for a specific user
      parameters:
        - in: path
          name: username
          required: true
          schema:
            type: string
          description: Username to get public events for
      responses:
        "200":
          description: Public events retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Event"

  /events/email-blasts/{eventId}:
    get:
      tags:
        - Email Blasts
      summary: Get email blasts for event
      description: Retrieves all email blasts for a specific event
      parameters:
        - in: path
          name: eventId
          required: true
          schema:
            type: string
          description: Event ID
      responses:
        "200":
          description: Email blasts retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/EmailBlast"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - Email Blasts
      summary: Create email blast
      description: Creates a new email blast for an event
      parameters:
        - in: path
          name: eventId
          required: true
          schema:
            type: string
          description: Event ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
                - recipient_filter
              properties:
                message:
                  type: string
                  description: Email message content
                recipient_filter:
                  type: string
                  enum: [all, yes_only, yes_and_maybe]
                  description: Filter for recipients
                scheduled_for:
                  type: string
                  format: date-time
                  nullable: true
                  description: Schedule email for future send
      responses:
        "200":
          description: Email blast created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/EmailBlast"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

tags:
  - name: Events
    description: Event management operations
  - name: RSVPs
    description: RSVP management operations
  - name: Comments
    description: Event comment operations
  - name: Gallery
    description: Event gallery operations
  - name: Hosts
    description: Event host management
  - name: Payments
    description: Event payment operations
  - name: Feed
    description: Event feed operations
  - name: Favorites
    description: Favorite event operations
  - name: Profile
    description: Profile event operations
  - name: Public Events
    description: Public event operations
  - name: Email Blasts
    description: Email blast operations
