/* Lightbox */

.Lightbox-view {
  --sidebar-width: min(25%, 360px);

  /* SELF-LAYOUT */
  position: fixed !important;
  inset: 0 !important;
  width: 100vw !important;
  height: 100dvh !important;
  z-index: 9999 !important;
}

.Lightbox-backdrop {
  /* SELF-LAYOUT */
  position: fixed !important;
  inset: 0 !important;
  width: 100vw !important;
  height: 100dvh !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
  z-index: -1;
}

@media (min-width: 1200px) {
  .Lightbox-backdrop {
    /* SELF-LAYOUT */
    width: calc(100% - var(--sidebar-width));
  }
}

.Lightbox-content {
  /* SELF-LAYOUT */
  box-sizing: border-box;
  width: 100vw !important;
  height: 100dvh !important;
  position: fixed !important;
  inset: 0 !important;

  /* APPEARANCE */
  background-color: transparent;

  /* INNER-LAYOUT */
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  /* TEXT */
  font-size: 0; /* Avoids small gap below image */
}
@media (min-width: 1200px) {
  .Lightbox-content {
    /* INNER-LAYOUT */
    grid-template-columns: 1fr var(--sidebar-width);
  }
}

.Lightbox-content > * {
  /* SELF-LAYOUT */
  width: 100%;
  height: 100%;
  max-height: 90vh;

  /* IMAGE */
  object-fit: contain;

  /* INTERACTIVITY */
  user-select: none;
}
@media (min-width: 1000px) {
  .Lightbox-content > * {
    /* SELF-LAYOUT */
    max-width: 90%;
  }
}

.Lightbox-dismissTrigger {
  /* SELF-LAYOUT */
  position: fixed !important;
  z-index: 10000 !important;
  left: 0.625rem;
  top: max(0.625rem, calc(env(safe-area-inset-top, 0px) + 0.375rem));

  /* MISCELLANEOUS */
  transition: opacity 300ms ease-in;
  cursor: pointer;
}
.Lightbox-dismissTrigger.visible-false {
  /* APPEARANCE */
  opacity: 0;

  /* INTERACTIVITY */
  transition: opacity 300ms ease-out;
  pointer-events: none;
}

/* Sidebar */

.Lightbox-sidebar {
  /* SELF-LAYOUT */
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  width: calc(var(--sidebar-width));
  height: 100%;

  /* APPEARANCE */
  border-left: 1px solid rgb(38, 38, 38);
  background-color: rgb(23, 23, 23);

  /* INNER-LAYOUT */
  display: grid;
}

/* SideSheet */

.Lightbox-sideSheetPresentTrigger {
  /* SELF-LAYOUT */
  position: fixed;
  z-index: 2;
  bottom: max(20px, calc(env(safe-area-inset-bottom, 0px) + 10px));
  left: 1rem;

  /* MISCELLANEOUS */
  transition: opacity 300ms ease-in;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .Lightbox-sideSheetPresentTrigger {
    /* SELF-LAYOUT */
    display: none;
  }
}
.Lightbox-sideSheetPresentTrigger.visible-false {
  /* APPEARANCE */
  opacity: 0;

  /* INTERACTIVITY */
  transition: opacity 300ms ease-out;
  pointer-events: none;
}

.Lightbox-sideSheetContent {
  /* APPEARANCE */
  background-color: rgb(23, 23, 23);
}
